body {
    background-image: url('MOVING.gif');
    background-color: black;
    background-size: cover;           
    background-position: center;      
    background-repeat: no-repeat;     
    background-attachment: fixed;     
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'La Belle Aurore', cursive; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff82;
}

h1 {
    margin-bottom: 20px;
}

#fish-container {
    position: relative; /* Allow absolute positioning of fish images */
    width: 100%; /* Fill available width */
    height: 100%; /* Fill available height */
}

.draggable-fish {
    width: 100px; /* Set a fixed width for all fish */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Allow for positioning in the container */
}

input {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    font-family: 'La Belle Aurore', cursive; 
}

button {
    padding: 10px 20px;
    font-family: 'La Belle Aurore', cursive; 
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #1a0062;
    color: rgba(255, 255, 255, 0.608);
    border-radius: 5px;
    margin-top: 20px; /* Adjust spacing */
    position: relative; /* Change to relative for better layout */
}

button:hover {
    background-color: #4d039b;
}
