body {
    background-image: url('sparkles.gif');
    background-color: black;
    background-size: cover;           
    background-position: center;      
    background-repeat: no-repeat;     
    background-attachment: fixed;     
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    top: 30px;
}

h1 {
    margin-bottom: 20px;
}

.fish-image {
    display: none; 
    width: 20%;
    height: 20%;
    border-radius: 50%;
    overflow: hidden; 
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10; 
}


input {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    font-family: 'La Belle Aurore', cursive; 
}

button {
    padding: 10px 20px;
    font-family: 'La Belle Aurore', cursive; 
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #1a0062;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
}

button:hover {
    background-color: #4d039b;
}